[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-dotenv = "*"
pytest-django = "*"
pytest-cov = "*"
faker = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[dev-packages]

[requires]
python_version = "3.9"
