[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
faker = "*"
factory-boy = "*"
pytest-factoryboy = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
